/card-management-system/gradle/
/card-management-system/gradlew
/card-management-system/gradlew.bat
/card-management-system/.gradle/
/.idea/
/card-management-system/backend/build/
/card-management-system/model/build/
