<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>
<form th:action="@{/login}" method="post" th:object="${user}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="idInputName">Username: </label>
        <input aria-describedby="recipeHelp" required class="form-control" id="idInputName" th:field="${user.username}"
               type="text">
    </div>

    <div class="form-group">
        <label for="idInputShortDescription">Password: </label>
        <input aria-describedby="recipeShortDescription" required class="form-control" id="idInputShortDescription"
               th:field="${user.password}"
               type="password">
    </div>



    <button class="btn btn-primary" type="submit">Login</button>
</form>
</body>
</html>