<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS - Active Requests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>

<h3>Requests</h3>

<form th:action="@{/requests/filter}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="status">Request Status: </label>
        <select id="status" required th:name="filterStatus">
            <option th:each="stat : ${T(bg.fmi.cms.model.constats.RequestStatus).values()}"
                    th:value="${stat}" th:text="${stat}"></option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit" th:disabled="${requestsList==null or requestsList.isEmpty()}">Filter
    </button>
</form>

<div th:if="${requestsList!=null and !requestsList.isEmpty()}">
    <table class="table">
        <tr>
            <th scope="col">Request ID</th>
            <th scope="col">Issuer ID</th>
            <th scope="col">Request Type</th>
            <th scope="col">Request Status</th>
            <th scope="col">Reason</th>
            <th scope="col">Card ID</th>
            <th scope="col">Action</th>
        </tr>
        <tr th:each="req: ${requestsList}">
            <td th:text="${req.id}"></td>
            <td th:text="${req.issuer.id}"></td>
            <td th:text="${req.requestType}"></td>
            <td th:text="${req.requestStatus}"></td>
            <td th:text="${req.reason}"></td>
            <td th:text="${req.requestSubject.id}"></td>
            <!--TODO: add check for role-->
            <td>
                <button class="btn btn-primary">Change</button>
            </td>
        </tr>
    </table>
</div>
<div th:if="${requestsList==null or requestsList.isEmpty()}">
    <p>There are no requests in the database.</p>
</div>

</body>
</html>