<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Users Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<main class="container">
    <div class="bg-light p-5 rounded mt-5 m-auto" style="max-width: 770px;">
        <div class="container">
            <div class="row-cols-2">
                <div class="col-8"><h3>Users Dashboard</h3></div>
                <div class="col-3"><a th:href="@{/users/register}" class="btn btn-primary">Add new user</a></div>
            </div>
        </div>
        <div th:if="${usersList!=null and !usersList.isEmpty()}">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Account Status</th>
                    <th>Action</th>
                </tr>
                <tr th:each="user: ${usersList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.accountStatus}"></td>
                    <!--TODO: add check for role-->
                    <td>
                        <a th:href="@{'/users/' + ${user.id}}">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>